.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #000;

    img {
        max-width: 100%;
        padding: 15px;
    }
    h1 {
        text-transform: uppercase;
        color: #FFF;
        margin-top: 50px;
        font-size: 45px;
    }
}